@import './utils/variables';
@import './utils/mixins';
@import './components/logo';
@import './components/page-header';
@import './components/hero';
@import './components/features';
@import './utils/placeholders';
.features {
  @extend %list;
}
