.footer {
  display: flex;
  padding: 60px 0 60px;
  background-color: #2f303a;
}
.footer-contacts {
  display: flex;
  align-items: baseline;
}
.contact-items__address {
  margin-top: 20px;
}
.footer-item {
  margin-bottom: 9px;
}
.contact-items {
  display: block;
  justify-content: center;
  align-items: center;
}
.studio {
  margin-bottom: 20px;
}

.list-icons {
  display: flex;
  justify-content: center;
}

.contact-items__text {
  margin-bottom: 9px;
}

.contact-items__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-right {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  width: 206px;
  height: 80px;
}
.footer-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-icon {
  fill: #ffffff;
}
.footer-link {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link .instagram {
  fill: #ffffff;
}
.footer-link:hover,
.footer-link:focus {
  cursor: pointer;
  fill: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #2196f3;
  border-radius: 50%;
}

.footer-icons:not(:last-child) {
  margin-right: 10px;
}
.footer-item__mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-item__mail:hover,
.footer-item__mail:focus {
  cursor: pointer;
  color: #2196f3;
}

.contacts-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-tel:hover,
.contacts-tel:focus {
  color: #2196f3;
}

.text-title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.twitter-current {
  margin: 0;
  background-color: #2196f3;
  fill: #ffffff;
}
