.cards__title {
  padding-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.cards__list {
  @extend %flexCentered;
}
.cards__item:not(:last-child) {
  margin-right: 30px;
}

.item-thumb {
  position: relative;
}
.item-action {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  background-color: #2f303a;
  opacity: 0.8;
}
.image-title {
  @extend %flexCentered;
}

.image-title {
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
