.hero .section {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  text-align: center;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  margin-top: 0;
  margin-bottom: 30px;
}

.hero__button--current {
  min-width: 200px;
  height: 50px;
  background-color: $accent-color;
  color: $bg-color;
  border-radius: 4px;
  border: none;

  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.hero__button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  color: $bg-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  min-width: 200px;
  padding: 10px 32px;

  display: inline-block;
  align-items: center;
  text-align: center;
}
.hero__button--current {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: bold;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: $bg-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
