.page-header {
  @include bordered($color);
  &__nav {
    @extend %align-center;
  }
}
.site-nav {
  display: flex;
  margin-left: 80px;
  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-color;
  }
}
.site-nav__item {
  position: relative;
  margin-left: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-color;
}
.site-nav__link--current::after {
  position: absolute;
  content: '';
  @extend %flexCentered;

  width: 100%;
  top: 76px;
  left: 0;
  border: 2px solid;
  border-radius: 4px;
  background-color: $accent-color;
}

.header-right {
  @extend %centered-flex;
  margin-left: auto;
}
.header-right__contact {
  margin-left: 30px;
}
.header-right__contact:last-child {
  margin-right: 0;
}

.header-right__contact {
  @extend %flexCentered;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-right__link {
  @extend %align-center;
  height: 12px;
  color: $text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-right__icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  fill: $text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-right__link:hover,
.header-right__link:focus {
  cursor: pointer;
  color: $accent-color;
}
.header-right__link:hover .header-right__icon,
.header-right__link:focus .header-right__icon {
  cursor: pointer;
  fill: $accent-color;
}
.site-nav__link--current {
  color: $accent-color;
}
.site-nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: $accent-color;
}
.smartphone:hover,
.smartphone:focus {
  fill: $accent-color;
}
.envelope:hover,
.envelope:focus {
  fill: $accent-color;
}
