.team {
  background-color: #f5f4fa;
}
.media {
  display: flex;
  justify-content: center;
}
.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon.current {
  fill: #ffffff;
}
.media-icons {
  display: flex;
  justify-content: center;
  margin: 0;
}
.media-icons:not(:last-child) {
  margin-right: 10px;
}
.media-link:hover,
.media-link:focus {
  cursor: pointer;
  background-color: #2196f3;
}
.media-link:hover .social-icon,
.media-link:focus .social-icon {
  cursor: pointer;
  fill: #ffffff;
}
.media-icons {
  width: 44px;
  height: 44px;
}

.media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member__id {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  padding-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team__list {
  display: flex;
  flex-wrap: wrap;

  padding-top: 50px;
  margin-left: -30px;
}
.team__list .member {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
}
.member .member__name {
  text-align: center;
}
.member__pro {
  text-align: center;
}
.member__name {
  margin-bottom: 10px;
}
.member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}
.member__pro {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: #757575;
}
.team__list > .member {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
