// color palette
$colors: (
  'primary': white,
  'secondary': #2f303a,
  'error': red,
  'info': blue,
  'blue': #188ce8,
  'accent': #2196f3,
  'gray-text': #757575,
  'dark-title': #212121,
  'light-color': #ffffff,
  'gray-light': #ececec,
);

$lightgray-color: #afb1b8;
$second-color: #000000;
$bg-color: #ffffff;
$text-color: #757575;
$accent-color: #2196f3;
$title-color: #212121;
$secondary-color: #2f303a;
$color: #ececec;
$btn-color: #188ce8;

// borders
$base-border-radius: 4px;
$base-border-thickness: 1px;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// box-shadow
$base-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$background-position: center;
$background-size: cover;

// $icons: 'facebook', 'twitter', 'linkedin', 'instagram';

body {
  color: #757575;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  margin: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button {
  display: inline-block;
  padding: 11px 30px;
  min-width: 100px;
  border: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
